<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sideMenu" class="col-2" style="background: dimgray">
    <a class="row justify-content-center" style="color: white" href="/groups">Groups</a>
    <a class="row justify-content-center" style="color: white" href="/students">Students</a>
    <a class="row justify-content-center" style="color: white" href="/teachers">Teachers</a>
    <a class="row justify-content-center" style="color: white" href="/lectures">Lectures</a>
    <a class="row justify-content-center" style="color: white" href="/audiences">Audiences</a>
    <a class="row justify-content-center" style="color: white" href="/courses">Courses</a>
    <br>
    <a class="row justify-content-center" style="color: white" href="/">Log out</a>
</div>
</body>
</html>