<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Audiences</title>
</head>
<body>
<div class="container-fluid">
    <div class="row" style="height: 100vh">
        <div class="col-2 " style="background: dimgray">
            <a class="row justify-content-center" style="color: white" href="/groups">Groups</a>
            <a class="row justify-content-center" style="color: white" href="/students">Students</a>
            <a class="row justify-content-center" style="color: white" href="/teachers">Teachers</a>
            <a class="row justify-content-center" style="color: white" href="/lectures">Lectures</a>
            <a class="row justify-content-center" style="color: white" href="/audiences">Audiences</a>
            <a class="row justify-content-center" style="color: white" href="/courses">Courses</a>
            <br>
            <a class="row justify-content-center" style="color: white" href="/">Log out</a>
        </div>
        <div class="col">
            <h1 class="row justify-content-center">Audiences</h1>
            <a class="row justify-content-center" href="/audiences/new">Create new audience</a>
            <table class="container-fluid">
                <tr style="background: silver">
                    <th class>Number</th>
                    <th class>Capacity</th>
                    <th></th>
                </tr>
<!--                <tr th:each="audience : ${audiences}" th:switch="${audiences.indexOf(audience) % 2 != 0}">-->
<!--                    <div th:case="true">-->
<!--                        <td style="background: gainsboro">-->
<!--                            <a th:href="@{/audiences/{id}/edit (id = ${audience.id})}" th:text="${audience.number}">Number</a>-->
<!--                        </td>-->
<!--                        <td th:text="${audience.capacity}" style="background: gainsboro">capacity</td>-->
<!--                        <td style="background: gainsboro">-->
<!--                            <form th:method="DELETE" th:action="@{/audiences/{id}(id = ${audience.id})}">-->
<!--                                <input type="submit" value="Delete"/>-->
<!--                            </form>-->
<!--                        </td>-->
<!--                    </div>-->

<!--                    <div th:case="false">-->
<!--                        <td>-->
<!--                            <a th:href="@{/audiences/{id}/edit (id = ${audience.id})}" th:text="${audience.number}">Number</a>-->
<!--                        </td>-->
<!--                        <td th:text="${audience.capacity}">capacity</td>-->
<!--                        <td>-->
<!--                            <form th:method="DELETE" th:action="@{/audiences/{id}(id = ${audience.id})}">-->
<!--                                <input type="submit" value="Delete"/>-->
<!--                            </form>-->
<!--                        </td>-->
<!--                    </div>-->
<!--                </tr>-->
                <tr th:each="audience : ${audiences}" th:switch="${audiences.indexOf(audience) % 2 != 0}">
                    <td th:style="${audiences.indexOf(audience) % 2 != 0} ? 'background: gainsboro' : 'background : lightgrey'">
                        <a th:href="@{/audiences/{id}/edit (id = ${audience.id})}"
                           th:text="${audience.number}">Number</a>
                    </td>
                    <td th:text="${audience.capacity}"
                        th:style="${audiences.indexOf(audience) % 2 != 0} ? 'background: gainsboro' : 'background : lightgrey'">
                        capacity
                    </td>
                    <td th:style="${audiences.indexOf(audience) % 2 != 0} ? 'background: gainsboro' : 'background : lightgrey'">
                        <form th:method="DELETE" th:action="@{/audiences/{id}(id = ${audience.id})}">
                            <input type="submit" value="Delete"/>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>
</html>