<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>
<a href="/">Back to main page</a>
<br>
<h1>List of all courses</h1>
<a href="/courses/new">Create new course</a>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <tr th:each = "course : ${courses}">
        <td>
            <a th:href="@{courses/{id}/edit (id=${course.id})}" th:text="${course.name}"/>
        </td>
        <td>
            <textarea th:text="${course.description}" rows="10" cols="100" readonly="readonly"/>
        </td>
    </tr>
</table>
</body>
</html>